.profile {
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    width: 360px;
    box-shadow: 1px 1px 2px 2px rgb(209, 204, 204);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar {
    border: 1px solid gray;
    border-radius: 50%;
    width: 30%;
}

.name {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.tag {
    text-align: center;
    color: gray;
    margin-top: 14px;
}

.location {
    text-align: center;
    color: gray;
    margin-top: 14px;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cac4c4;
}

.stats__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px;
    border: 1px solid gray;
}

.label {
    text-align: center;
}

.quantity {
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
}